body{
    height:100%;
    background-color: rgb(0, 123, 192);
}

.centro {
    height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.alinhar{
    margin-bottom: auto;
}

.title{
    margin-top:130px;
    margin-bottom: 20px;
}
.teste{
    background-color:rgba(255, 255, 255, 0.753);
    padding: 30px;
    border-radius: 5px;
}

